@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import 'swiper.min.css';

* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Lyon";
  src: url("../fonts/Lyon Text-Regular.otf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Lyon_Italic";
  src: url("../fonts/Lyon Text-Regular Italic.otf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Lyon_Semibold";
  src: url("../fonts/Lyon Text-Semibold.otf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

html, body {
  height: 100%;
  overflow: hidden;
  margin: 0;
}

body {
  font-family: Lyon;
  font-size: 0;
  margin: auto;
  background: white;
  text-align: center;
  position: relative;
  margin: 10vw 13vw;
}

.container {
  width: 100%;
  line-height: 55pt;
  font-size: 42pt;
  display: inline-block;
}

header {
  flex-shrink: 0;
}

.header {
  margin-bottom: 75px;
  height: 80px;
}

.main {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.icon {
  display: inline-block;
  text-align: center;
}

img {
  display: block;
  width: 100%;
  height: 100%;
  vertical-align: middle;
}

#back {
  margin-top: calc((130px - 85px) * 0.25);
  float: left;
}

#write {
  margin-top: calc((130px - 129px) * 0.25);
  margin-right: 98px;
  float: right;
}

#delete {
  margin-top: calc((130px - 129px) * 0.25);
  float: right;
}

#write > img {
  float: right;
}

.title_bar {
  height: 64pt;
  margin-bottom: 75px;
  font-family: Lyon_Italic;
  font-size: 64pt;
}

.title_contents {
  display: inline;
  text-align: left;
  font-size: 64pt;
  float: left;
}

.counts {
  float: right;
}

.hiddenScroll {
  width: 100%;
  display: inline-block;
  overflow-y: scroll;
  overflow-x: hidden;
  flex-grow: 1;
  overflow: auto;
}

::-webkit-scrollbar {
  width: 0px;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}

.contents_container {
  /* width: calc(100% + 50px); */
  overflow: scroll;
}

.contents {
  text-align: left;
  margin-bottom: 144px;
}

.swiper-wrapper {
  width: 100%;
  line-height: 55pt;
  font-size: 42pt;
}

.swiper-container {
  max-height: 70vh;
}

.corpus {
  /* display: inline-block; */
}

.comments {
  width: 100%;
  font-family: Lyon_Italic;
  margin-top: 7px;
  /* display: inline-block; */
}

.pop-up {
  display: none;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}
.background {
  width: 100%;
  height: 100%;
  background: white;
  opacity: 0.98;
  filter: alpha(opacity=98);
  position: relative;
  z-index: 1;
}

.pop_container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 2;
  display: flex;
  flex-direction: column;
}

#close {
  float: left;
}

#save {
  float: right;
}

#close > img {
  width: 100%;
  height: 100%;
}

#save > img {
  width: 100%;
  height: 100%;
  float: right;
}

.pop_contents_container {
  flex-grow: 1;
  display: flex;           /* establish flex container */
  flex-direction: column;  /* make main axis vertical */
  justify-content: center; /* center items vertically, in this case */
  align-items: center; 
}

.pop_row {
  display: inline-block;
}

.pop_contents {
  font-family: Lyon_Semibold;
  font-size: 33pt;
  display: inline-block;
  width: 30%;
}

#pop_row_1 {
  margin-bottom: 63px;
}

#pop_contents_row_11 {
  float: left;
}

#pop_contents_row_21 {
  display: inline;
}

label {
  float: left;
}

#submitEntry {
  margin-top: calc(-255px - 13vw);
}

#submitEntry input,
#submitEntry textarea {
  font-family: "Open Sans", sans-serif;
  font-size: 33pt;
  float: left;
  height: 63px;
  width: 100%;
}

#pop_contents_row_21 > textarea {
  height: 250px;
  width: 100%;
}

.author-container,
.title-container {
  width: 45%;
}

.author-container {
  float: left;
}

.title-container {
  float: right;
}

.message-container {
  width: 100%;
}