*{
    box-sizing: border-box;
}
@font-face {
    font-family: "Lyon";
    src: url("../fonts/Lyon Text-Regular.otf")format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Lyon_Italic";
    src: url("../fonts/Lyon Text-Regular Italic.otf")format("truetype");
    font-style: normal;
    font-weight: normal;
}
body{
    font-size: 0;
    margin: auto;
    background: white;
    text-align: left;
    height: 100%;
    margin: 10vw 13vw;
}
.head_container{
    width: 100%;
    line-height: 130px;
    display: inline-block;
}
.header{
    height: 0px;
}
.icon{
    display: inline-block;
    float: left;
    margin-top: calc((130px - 85px) * 0.25);
}
img{
    display: block;
    width: 100%;
    height: 100%;
}
.hiddenScroll{
    width: 100%;
    overflow: hidden;
}
.contents_container{
    overflow: hidden;
}
.contents{
    width: 100%;
    display: inline;
}
#corey{
    font-family: Lyon_Italic;
    font-size: 60pt;
    line-height: 75pt;
}
#enclo{
    font-family: Lyon;
    font-size: 42pt;
    line-height: 55pt;
    margin-top: 50px;
    width: 100%;
}
.highlight{
    font-family: Lyon_Italic;
    display: inline;

}
