* {
  box-sizing: border-box;
}
@font-face {
  font-family: "Lyon";
  src: url("../fonts/Lyon Text-Regular.otf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Lyon_Italic";
  src: url("../fonts/Lyon Text-Semibold Italic.otf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

html, body {
  height: 100%;
}

body {
  position: relative;
  font-family: Lyon;
  font-size: 0;
  padding: 0;
  margin: auto;
  background: white;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.main-container {
}

.contents {
  font-size: 56pt;
  line-height: 71pt;
  /* margin: 95px 98px; */
  text-align: left;
  flex: 1 0 auto;
  margin: 10vw 13vw;
}
.landing {
  font-family: Lyon_Italic;
  display: inline;
}

.landing:hover {
  text-decoration-line: underline;
}

.counts {
  display: inline;
}

.footer {
  /* position: absolute; */
  /* right: 98px;
  left: 98px; */
  /* top: calc(1920px - 140px - 64pt); */
  height: 64pt;
  flex-shrink: 0;
  margin: 10vw 13vw;
}

.footer_contents_container {
  font-size: 46pt;
  height: 46pt;
}

.footer_contents {
  display: inline-block;
  height: 46pt;
  float: right;
}

#day {
  float: left;
}

.day_count {
  display: inline;
}

a:link {
  text-decoration: none;
  color: black;
}

a:visited {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: none;
  color: black;
}

a:active {
  text-decoration: none;
  color: black;
}
